<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Weather App</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="heading">Weather Details</h1>
    <div style="margin:0px 10%;">
        @RenderBody()
    </div>
</body>
</html>
