@model CityWeather;

@{
    var time = Model.DateAndTime.ToShortTimeString();
    ViewData["details"] = true;
}
<div class="detail-box">
    <div class="weather-box">
        @await Html.PartialAsync("_DetailsBox", Model)
    </div>
    <a href="/">Back to Weather Home Page</a>
</div>
