<!DOCTYPE html>
<head>
    <title>Weather App</title>
    <link href="~/styles.css" rel="stylesheet" />
</head>
<body>
    <h1 class="heading">Weather Details</h1>
    <div class="detail-box">
        <h5>There is no data for requested city code. Please, try again later!</h5>
        <a href="/">Back to Weather Home Page</a>
    </div>
</body>
